.App {
  padding: 30px;
}

li {
  margin: 10px;
}
li button {
  margin-left: 30px;
}

input {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  background-color: blue;
  color: #fff;
  padding: 5px;
}
form {
  margin-top: 40px;
}
